/* Esercizio 1 */
.ex-1-square {
    transition: background-color 2s;
}

.ex-1-square:hover {
    background-color: red;
}

/* Esercizio 2 */
.ex-2-square {
    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
    transition-timing-function: linear;
}

/* Esercizio 3 */
.ex-3-square {
    transition: border-radius 2s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* Esercizio 4 */
.ex-4-square {
    opacity: 1;
    transition: opacity 2s;
}

.ex-4-square:hover {
    opacity: 0;
}

/* Esercizio 5 */
.ex-5-square {
    transition: transform 2s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/* Esercizio6 */
.ex-6-img:hover {
    filter: grayscale(80%);
}

/* Esercizio 7 */
.ex-7-img {
    transition: all 2s;
}

.ex-7-img:hover {
    filter: grayscale(80%) sepia(80%);
}

/* Esercizio 8 */
.ex-8-img {
    transition: all 2s;
}

.ex-8-img:hover {
    filter: grayscale(80%) sepia(80%);
    border-radius: 20px;
}
 /* Esercizio 9 */
 .ex-9-img {
     transition: all 2s;
 }

 .ex-9-img:hover {
     filter: grayscale(80%) sepia(80%);
     border-radius: 20px;
     transform: scale(1.5);
 }

 /* Esercizio 10 */
 .ex-10-icon {
     animation: spinner 2s linear infinite reverse;
}

@keyframes spinner {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/* Esercizio 11 */
.ex-11-icon:hover {
    animation: spinner2 2s linear;
}

@keyframes spinner2 {
   0% {transform: rotate(0deg);}
   80% {transform: rotate(270deg);}
   100% {transform: rotate(0deg);}
}

/* Esercizio 12 */
.ex-12-button:hover .ex-12-top-white {
    animation: move 2s linear ;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: move2 2s linear ;
}

@keyframes move {
    0% {left: 10%;}
    50% {left: calc(100% - 30%) ;}
    100% {left: 10%;}
}

 @keyframes move2 {
    0% {right: 20%;}
    50% {right: calc(100% - 30%) ;}
    100% {right: 20%;}
 }

 /* Esercizio 13 */
 .ex-13-button:hover .ex-13-top-white {
     animation: move3 2s linear ;
 }

 .ex-13-button:hover .ex-13-bottom-white {
     animation: move4 2s linear ;
 }

 @keyframes move3 {
     0% {left: 10%; top: -10px;}
     25% {left: 72%; top: 0;}
     50% {left: 72%; top: 47px;}
     75% {left: 0; top: 47px}
     100% {left: 10%; top: -10px;}
 }

 @keyframes move4 {
     0% {right: 20%; bottom: -10px;}
     25% {right: 83%; bottom: 22px;}
     50% {right: 26%; bottom: 54px;}
     75% {right: -15%; bottom: 35px;}
     100% {right: 20%; bottom: -10px;}
 }
